# Configuração principal do PHPStan
parameters:
  # Nível de análise: pode ser ajustado de 0 (mais permissivo) a 8 (mais estrito)
  level: 6

  # Diretórios que serão analisados pelo PHPStan
  paths:
    - app
    - core
    - tests

  # Diretórios ou arquivos que serão excluídos da análise
  excludePaths:
    - app/views/*

  # Ignorar erros específicos: útil para ignorar métodos não utilizados ou outros erros específicos
  ignoreErrors:
    # Ignora o erro sobre o método currentUser() não utilizado no AppointmentsController
    - '#Method App\\Controllers\\AppointmentsController::currentUser\(\) is unused.#'

    # Ignora o erro sobre o método currentUser() não utilizado no ClientsController
    - '#Method App\\Controllers\\ClientsController::currentUser\(\) is unused.#'

    # Ignora o erro sobre o método currentUser() não utilizado no FixedsSchedulesController
    - '#Method App\\Controllers\\FixedsSchedulesController::currentUser\(\) is unused.#'

